
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
	--font-header: 'Oswald', sans-serif;
	--font-text: 'Poppins', sans-serif;
	--text: #040208;
	--ignore-text:#b9b9b9;
	--background: #e1daf6;
	--nav-bg:#d2c5f8;;
	--primary: #71228c;
	--secondary: #eaf4d2;
	--accent: #da536e;
	color: var(--color-text);
}

@media(prefers-color-scheme: dark) {
	:root {
		--text: #e1daf6;
		--ignore-text:#161616;
		--background: #040208;
		--nav-bg:#0a0514;
		--primary: #71228c;
		--secondary: #1d2509;
		--accent: #DC143C;
	}
}

body {
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	color: var(--text);
	background-color: var(--background);
	font-family: var(--font-text);
	overflow-x: hidden;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

header {
	font-family: var(--font-header);
	letter-spacing: 2px;
}

input,
button {
	all: revert;
	max-width: fit-content;
	background-color: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
